# YANGI .env FAYL
# QUYIDAGI MA'LUMOTLARNI YOZING:

# Telegram BOT uchun adminlar ro'yxati
# ADMINS = 123456789

# Telegram BOT uchun API token 
# BOT_TOKEN = 123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZ

# Django settings dagi SECRET_KEY
# SECRET_KEY = django-insecure-_HJFG?WSUYG?2Y1G421GB?DASJKD433653462KXCNVK(

# Django settings dagi DEBUG
# DEBUG = True

#ngrok yoki jprq dan foydalaning
#NGROK_AUTH_TOKEN=''
#JPRQ_AUTH_KEY=''

# webhook uchun  domain. Local bo'lsa masalan: ngrok
# WEBHOOK_DOMAIN = https://54c0-195-158-21-45.ngrok-free.app

# BASE_URL -> saytingizning asosiy manzili
# BASE_URL = http://localhost:8000/api

# PostgreSQL 
# DB_USER=postgres
# DB_PASS=uu0970syg
# DB_NAME=postgres
# DB_HOST=localhost