# YANGI .env FAYL
# QUYIDAGI MA'LUMOTLARNI YOZING:

# Telegram BOT uchun adminlar ro'yxati
ADMINS = 123456789,

# Telegram BOT uchun API token 
BOT_TOKEN = 7854673446:AAFSxYWKEcWddKiSE3QURiVq0fwijnAGPyY

# Django settings dagi SECRET_KEY
SECRET_KEY = django-insecure-_1GB?DASJKD433653462KXCNVK(

# Django settings dagi DEBUG
DEBUG = True

#tunel uchun ngrok yoki jprq dan foydalaning
NGROK_AUTH_TOKEN=''
JPRQ_AUTH_KEY=''

# webhook uchun domain.
WEBHOOK_DOMAIN = https://54c0-195-158-21-45.ngrok-free.app

# BASE_URL -> saytingizning asosiy manzili
BASE_URL = http://localhost:8000/api

# Django settings dagi ALLOWED_HOSTS
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,a.ngrok-free.app,b.jprq.site
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost

# PostgreSQL 
# DB_USER=postgres
# DB_PASS=uu0970syg
# DB_NAME=postgres
# DB_HOST=localhost